/* base layer */
@tailwind base;
/* components layer */
@tailwind components;

/* utilities layer */
@tailwind utilities;
@layer components {
    .btn{
        @apply
        inline-block
        px-5
        py-3
        rounded-lg
        focus:outline-none
        focus:ring
        focus:ring-offset-2
        uppercase
        tracking-wider
        font-semibold
        text-sm
        sm:text-base
        ;

    }
  .btn-primary {
    @apply 
        bg-green-600
        hover:bg-green-500
        focus:ring-green-500
        focus:ring-opacity-50
        active:bg-green-600
        text-white;
  }
  .btn-secondary {
    @apply bg-gray-300
        hover:bg-gray-200
        focus:ring-gray-300
        focus:ring-opacity-50
        active:bg-gray-400
        text-gray-800;
  }
}
